<?xml version="1.0"?>
<config>
    <modules>
        <Trenza_Notification>
            <version>0.1.0</version>
        </Trenza_Notification>
    </modules>
	<frontend>
        <routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>Trenza_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
            <updates>
                <notification>
                    <file>trenza/notification.xml</file>
                </notification>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<notification>
				<use>admin</use>
				<args>
					<module>Trenza_Notification</module>
					<frontName>notification</frontName>
				</args>
			</notification>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<notification module="notification">
				<title>Trenza Notification</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="notification">
						<title>Manage Notifications</title>
						<sort_order>0</sort_order>
						<action>notification/adminhtml_notification</action>
					</items>
				</children>
			</notification>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Trenza_Notification>
							<title>Trenza Notification Module</title>
							<sort_order>10</sort_order>
						</Trenza_Notification>
						<system>
							<children>
								<config>
									<children>
										<notification>
											<title>Notification Section</title>
										</notification>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<notification>
					<file>trenza/notification.xml</file>
				</notification>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <notification>
                <class>Trenza_Notification_Model</class>
                <resourceModel>notification_mysql4</resourceModel>
            </notification>
            <notification_mysql4>
                <class>Trenza_Notification_Model_Mysql4</class>
                <entities>
                    <notification>
                        <table>notification</table>
                    </notification>
                </entities>
            </notification_mysql4>
        </models>
        <resources>
            <notification_setup>
                <setup>
                    <module>Trenza_Notification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </notification_setup>
            <notification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </notification_write>
            <notification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </notification_read>
        </resources>
        <blocks>
            <notification>
                <class>Trenza_Notification_Block</class>
            </notification>
        </blocks>
        <helpers>
            <notification>
                <class>Trenza_Notification_Helper</class>
            </notification>
        </helpers>
    </global>
	<default>
	    <notification>
			<general>                
				<heading>Trenza Ntification</heading>              
				<show_description>1</show_description>
				<list_style>1</list_style>     
			</general>      
	    </notification>
	</default>
</config> 
